*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: white;
    background-color: #94C482;
    margin: auto;
    padding: 10px 0px 10px 0px;
}
input{
    border-color: #94C482;
    border-width: 1px
}
button{
    text-align: center;
    color: #94C482;
    border-color: #94C482;
    border-width: 1px;
}
li{
   margin: 10px;
   padding: 10px; 
}
