*{
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #94C482;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    border-color: #94C482;
    margin: auto; 
    border-width: 2px;
    height: 25px;
    width: 215px;
    font-size: 20px;
}
button{
    text-align: center;
    color: #94C482;
    border-color: #94C482;
    border-width: 2px;
    height: 30px;
}

